<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<h1 class="mt-4">Users</h1>
<div class="card-list">
<% for (item of users) { %>
<div class="card" style="width: 18rem;">
    <div class="card-img-top" src="" alt="Card image cap">
        <p><%= item.name[0] %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text"><%= item.email %></p>
      <form action="/wave/<%= item.email %>" method="POST">
        <button class="btn btn-primary w-100" type="submit">Wave 👋</button>
      </form>
    </div>
</div>
<% } %>
</div>

<h1 class="mt-4">Waved Users</h1>
<div class="card-list">
  <% if(wavedList.length == 0) { %>
    <div>No user</div>
  <% }else{ %>
    <% for (item of wavedList) { %>
    <div class="card" style="width: 18rem;">
        <div class="card-img-top" src="" alt="Card image cap">
            <p><%= item.name[0] %></p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.email %></p>
          <a href="/wave/<%= item.email %>" class="btn btn-primary w-100">Unwave 👋</a>
        </div>
    </div>
    <% } %>
  <% } %>   

</div>